<h2 align="center">
  Welcome: <%= @user.username %>
</h2>

<div class="row">
  <div class="col-md-4 offset-md-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<h4 align= "center">
  <%= @user.username %>'s profiles
</h4>
<%= will_paginate @user_profiles, list_classes: %w(pagination justify-content-center), previous_label: 'Prev', next_label: 'Next' %>

<%= render 'profiles/profile', obj: @user_profiles %>

<%= will_paginate @user_profiles, list_classes: %w(pagination justify-content-center), previous_label: 'Prev', next_label: 'Next' %>
